.active {
  transform: rotate(180deg);
  transition: transform 0.1s ease-in;
}

.layout {
  display: block;
  /* position: relative; */
  border-radius: 4px;
}

.picker {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 20px;
  grid-template-rows: 1fr;
  gap: 16px;
  border-radius: 4px;
}


.picker > span {

  font-weight: 500;
  justify-self: flex-start;
}

.picker > img {
  align-self: flex-end;
  margin: auto 0;
}

.dd {
  position: absolute;
  background-color: #282B2E;
  border-radius: 4px;
  padding: 12px 16px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  color: #F9F9FA;
  width: 100%;
  z-index: 44;
  bottom: 0;
  right: 0;
  left: 0;
  height: 85vh;
}
.backdrop {
  position: absolute;
  z-index: 43;
  top: 94px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #08090B;
}

.dd > ul {
  display: grid;
  gap: 8px;
  text-align: left;
}


.dd > ul li:hover {
  opacity: 0.8;
  cursor: pointer;
}

