.active {
  transform: rotate(180deg);
  transition: transform 0.1s ease-in;
}

.layout {
  border-radius: 4px;
}

.picker {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 20px;
  grid-template-rows: 1fr;
  gap: 16px;
  border-radius: 4px;
  overflow: hidden;
}


.picker > span {
  font-weight: 500;
  justify-self: flex-start;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  word-break: break-all;
  text-align: left;
}

.picker > img {
  align-self: flex-end;
  margin: auto 0;
}

.dd {
  position: absolute;
  background-color: #17191C;
  border-radius: 4px;
  padding: 24px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  color: #F9F9FA;
  width: 100%;
  z-index: 44;
  bottom: 0;
  right: 0;
  left: 0;
  height: 85vh;
}
.backdrop {
  position: absolute;
  z-index: 43;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #08090B;
  display: grid;
}

.dd > ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
  overflow-y: scroll;
  height: 80%;
}


.dd > ul li:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (min-width: 560px) {
  .dd {
    position: relative;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    max-width: 568px;
    max-height: 568px;
  }

  .dd ul {
    height: 368px;
    overflow-y: scroll;
  }
}


.no-results {
  align-self: center;
  justify-self: center;
}