.grid {
  display: grid;

  grid-template-areas: 

        'header'
        'content'
        'footer';

  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
}

.grid main {
  grid-area: content;
  overflow-x: hidden;
  overflow-y: overlay;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr minmax(0, 560px) 1fr;
}
.grid main section {
  grid-area: 1 / 2 / 1 / 3;

  display: grid;
  height: 100vh;
}
.grid main section.full {
  grid-area: 1 / 1 / 1 / 4;
}
.grid header {
  grid-area: header;
}
.grid footer {
  grid-area: footer;
}

