
.backdropEnter {
  opacity: 0;
}
.backdropEnterActive {
  opacity: 1;
  transition: opacity 200ms;
}

.backdropExit {
  opacity: 1;
}
.backdropExitActive {
  opacity: 0;
  transition: opacity 200ms;
}